* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Cairo", sans-serif;
}

:root {
    --trans: 0.3s;
    --color: #1787e0;
    --main-color: #2196f3;
}

a {
    text-decoration: none;
}
section {
    margin-top: 50px;
}
html {
    scroll-behavior: smooth;
}

::selection {
    background-color: black;
    color: white;
}

body{
    height: 100vh;
    width: 100%;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    transition: var(--trans);
    background-color: #fefefe;
}

.logo {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 25px;
    animation: tfaha 0.3s;
}

.logo img {
    width: 100px;
    height: 80px;
}

@keyframes tfaha {
    0% {
        opacity: 0;
        transform: translateX(60px);
    }

    50% {
        opacity: 0.5;
        transform: translateX(-60px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

ul {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
}

ul li {
    list-style: none;
    padding: 10px 15px;
}

ul li a {
    color: #000;
    text-transform: capitalize;
    font-weight: 700;
    transition: all 0.5s ease;
}

ul li:hover a , .active{
    color: var(--color);
}

.content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 520px;
    padding: 120px;
    margin-top: 10px;
    position: relative;
}

.content img{
    animation: img 1.8s infinite;
    position: relative;
}

@keyframes img {
    0%{
        left: 0;
        bottom: 0;
    }
    50%{
        top: 30px;
        left: -20px;
    }
    100%{
        left: 0;
        top: 0;
    }
}
.content h2 {
    margin-bottom: 20px;
    letter-spacing: 1px;
    text-shadow: 3px 2px 1px #979494;
    font-size: 50px;
}

.content span {
    color: var(--color);
}

.content p {
    font-size: 18px;
}

.content .btn {
    display: flex;
    justify-content: flex-start;
}

.content .btn button {
    margin: 20px 10px 0px 5px;
    padding: 8px 12px;
    border-radius: 6px;
    font-weight: bold;
}

.content .btn button {
    background-color: #eee;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    transition: all var(--trans) ease;
}

.content .btn button:hover {
    background-color: #fff;
}

.content .btn button:first-child {
    color: #fff;
    background-color: var(--main-color);
}

.content .btn button:first-child:hover {
    background-color: var(--color);
}

.animation {
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
}

.service {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px;
}

.service h4{
    color: var(--main-color);
}
