/* start const code */
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Cairo", sans-serif;
}

html {
    scroll-behavior: smooth;
    -webkit-scroll-behavior: smooth;
}

:root {
    --color: #1787e0;
    --main-color: #2196f3;
    --main-background-color: #ececec;
    --transition: 0.3s ease;
    --main-padding: 100px;
}

::selection {
    background-color: black;
    color: white;
}

span {
    color: var(--color);
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

/* Container */
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global */
/* Start Header */
header {
    background-color: white;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header .container .logo {
    height: 65px;
    color: var(--main-color);
    font-size: 26px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .container .logo img {
    height: 30px;
    height: 40px;
}

header .container .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container .main-nav li a {
    padding: 0 30px;
    color: black;
    font-size: 0.9rem;
    transition: var(--transition);
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

header .container .main-nav li a:hover {
    background-color: #fafafa;
    color: var(--main-color);
}

header .container .main-nav li a::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 100%;
    width: 100%;
    height: 3px;
    background-color: var(--main-color);
    transition: var(--transition);
}

header .container .main-nav li a:hover::before {
    right: 0;
}

@media (max-width: 767px) {
    header .container {
        flex-direction: column;
    }

    header .container .logo {
        height: 50px;
        width: 100%;
    }

    header .container .main-nav {
        margin: auto;
    }

    header .container .main-nav li a {
        height: 40px;
        font-size: 14px;
        padding: 0 15px;
    }
}

/* End Header */
/* Start Landing */
.landing {
    position: relative;
}

.landing::before {
    content: "";
    position: absolute;
    left: 0;
    top: -40px;
    width: 100%;
    height: 100%;
    background-color: #ececec;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
}

.landing .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: calc(100vh - 72px);
    padding-bottom: 100px;
    font-size: 1.2rem;
}

.landing .container .text .btn {
    display: flex;
    justify-content: flex-start;
}

.landing .container .text .btn button {
    margin: 20px 10px 0 20px;
    padding: 8px 12px;
    border-radius: 6px;
    font-weight: bold;
}

.landing .container .text .btn button {
    background-color: var(--main-background-color);
    border: 1px solid var(--main-color);
    color: var(--main-color);
    transition: all var(--trans) ease;
}

.landing .container .text .btn button:hover {
    background-color: white;
}

.landing .container .text .btn button:first-child {
    color: #fff;
    background-color: var(--main-color);
}

.landing .container .text .btn button:first-child:hover {
    background-color: var(--color);
}

.landing .container .text h1 {
    margin: 20px auto;
    letter-spacing: 1px;
    text-shadow: 3px 2px 1px #979494;
    font-size: 2.2rem;
}

.landing .container .text p,
.about .container .text p {
    color: #060606;
    font-size: 1.2rem;
    line-height: 2rem;
}

.landing .container .img img {
    width: 600px;
    animation-timing-function: inherit;
    animation-duration: 5s;
    animation-name: up-don;
    animation-iteration-count: infinite;
    position: relative;
}

@keyframes up-don {

    0%,
    100% {
        top: 0;
    }

    50% {
        top: -50px;
    }
}

.landing .animation {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
}

@media (max-width: 767px) {
    .landing .container .img img {
        display: none;
    }

    .landing .container .text {
        text-align: center;
    }
}

@media (max-width: 480px) {
    .landing .container {
        min-height: calc(100vh - 115px);
    }

    .landing .container .text h1 {
        font-size: 1.7rem;
    }

    .landing .container .text p {
        font-size: 1rem;
    }
}

/* End Landing */
/* Start about */
.about {
    position: relative;
}

.about .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 60px;
    overflow: hidden;
}

.about .container .img img {
    width: 320px;
    height: 260px;
    padding: 15px;
    margin-top: 15px;
}

.about .container .text {
    padding: 15px;
    margin-top: 15px;
    width: calc(100% - 350px);
    box-shadow: 0 0 3px var(--color);
}

.about .container .text h3 {
    color: var(--main-color);
}

.about .container .text h1 {
    font-size: 30px;
    font-weight: 900;
}

@media (max-width: 767px) {
    .about .container {
        justify-content: center;
        align-items: center;
    }

    .about .container .text {
        width: 90%;
        text-align: center;
    }
}

/* section icon */

.about .container .icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/* End about */
